@use "colors";
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

//typography
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
$font-family-inter: "Inter", sans-serif;
$breakpoint-tablet: 768px;

html,
body {
  font-family: $font-family-inter;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.content-wrapper {
  margin: 1rem;

}
.header-desktop{
  display: none;
}
.header-mobile{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  .menu-overlay {
    position: fixed;
  top: 0;
  right: -100%; 
  width: 300px;
  height: 100%;
  transition: right 0.3s ease;
  z-index: 1002;
  background-color: white;

  ul {
    list-style-type: none;
    li {
    margin-bottom: 1rem;
  }}

  }
  .screen-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  .menu-overlay{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    button{
      background: none;
    border: none;
    margin-left: auto;
    margin-bottom: 5rem;

    }
  }
  .menu-overlay.open{
    right: 0;
  }
  .screen-overlay.open {
    opacity: 1; 
    pointer-events: all;
  }
  .menu-button {
    background: none;
    border: none;
  }
}

main {
}
.home-section {
  img {
    max-width: 100%;
  }
  h1 {
    font-size: 40px;
    margin-block: 1rem;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    color: grey;
    font-weight: 400;
  }
  button {
    margin-top: 1.5rem;
    background-color: var(--soft-red);
    outline: none;
    border: none;
    padding-inline: 1.5rem;
    padding-block: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
  }
}

.new-section {
  color: white;
  background-color: black;
  margin-top: 3.5rem;
  padding-bottom: 2rem;
  .new-section-wrapper {
    margin: 1rem;
    h2 {
      margin-top: 1rem;
      color: var(--soft-orange);
      display: inline-block;
      font-size: 32px;
    }
    h3 {
      margin-top: 2rem;
    }
    .new-article {
      p {
        margin-top: 1rem;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 2rem;
        font-size: 15px;
      }
      hr {
        background-color: rgba(255, 255, 255, 0.6);
        height: 1px;
        border: none;
      }
    }
  }
}

.popular-section {
  margin-top: 3rem;

  .article-wrapper {
    margin-bottom: 2rem;

    display: flex;
    img {
      width: 30%;
      max-width: 200px;
    }
    gap: 1.5rem;
    .text-content {
      h2 {
        font-size: 32px;
        margin-bottom: 0.75rem;
      }
      h3 {
        margin-bottom: 0.75rem;
      }
      p {
        color: grey;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.yellow {
  color: var(--soft-orange);
}
.red {
  color: var(--soft-red);
}
.bold {
  font-weight: 800;
}


@media  (min-width: $breakpoint-tablet){
  .header-mobile{
    display: none;
  }

  .content-wrapper{
    max-width: 1300px ;
  }

  .header-desktop{
    display: flex;
    justify-content: space-between;
    ul{
      list-style-type: none;
      li {
        display: inline;
      margin-right: 1rem;
      color: grey;
    }}
margin-block: 3rem;
  }
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1.25fr .75fr .6fr;
  gap: 2rem;
}
.home-section{
  grid-column: 1 /3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  img{
grid-column: 1/3;
grid-row: 1 
  }
  h1{
    grid-column: 1/2;
grid-row: 2 ;
padding-right: 4rem;
font-size:60px ;
  }
  .home-content-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
  grid-row: 2 ;
  button {

    width: 200px;
    height: 60px;
      }
  }
  
}
.new-section{
  grid-column: 3 /4;
  grid-row: 1/3;
  margin-top: 0;
  .new-section-wrapper h2{
    font-size: 40px;
  }
}
.popular-section{
  grid-column: 1 /4;
  grid-row: 3;
  display: flex;
}
}